include mixins
extends layout
block content
   .row
      .col-md-6.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Users
            +listItem [1] Number of users:
               //p #{var1}
            +listItem [2] 5 Best selling countries:
               //p #{var2}
            +listItem [3] % of women:   % of men
               //p #{var3}
   .row
      .col-md-5.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Products
            +listItem [4] Number of products:
               //p #{var4}
            +listItem [5] Top 3 products sales: {apple, toshiba, fauter}
               //p #{var5}

   .row
      .col-md-6.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Purchases
            +listItem [6] Average amount purchase: { }
               //p #{var6}

