include mixins
extends layout
block content
   .row
      .col-md-6.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Users
            +listItem [1] Number of users:
               p #{customerCounter.counter}
            +listItem [2] 3 Best selling countries:
               for c in popularCountires
                  p Country: #{c.country}   Value: #{c.counter}
            +listItem [3] % of women:   % of men
               //p #{var3}
   .row
      .col-md-5.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Products
            +listItem [4] Number of products:
               p #{numberOfProducts.counter}
            +listItem [5] Top 3 products sales: {apple, toshiba, fauter}
               for p in topSoldProducts
                  p #{p.product.properties.name}  #{p.product.properties.model} by  #{p.product.properties.producer} bought #{p.purchases}


