include mixins
extends layout
block content
    .row
        .col-md-11.col-sm-6.col-xs-12
            +panel("Add Data", "warning") Simply Insert Details in the relevant form:
    .row
        .col-md-3.col-sm-6.col-xs-12
            +panel("Create new customer", "primary")
                form(action='/addcustomer', method='POST')
                    input(type='number', name='uuid', placeholder='id')
                    br
                    input(type='text', name='lastname', placeholder='last name')
                    br
                    input(type='text', name='firstname', placeholder='first name')
                    br
                    input(type='number', name='age', placeholder='age')
                    br
                    input(type='text', name='country', placeholder='country')
                    br
                    input(type='text', name='city', placeholder='city')
                    br
                    input(type='text', name='state', placeholder='state')
                    br
                    input(type='text', name='gender', placeholder='gender')
                    br
                    input(type='email', name='email', placeholder='email address')
                    br
                    +button("primary", "small", "Add User")
                    if error
                        span.error &nbsp;#{error}
        .col-md-3.col-sm-6.col-xs-12
            +panel("Add new product", "info")
                form(action='/addproduct', method='POST')
                    input(type='number', name='uuid', placeholder='id')
                    br
                    input(type='text', name='name', placeholder='name')
                    br
                    input(type='text', name='model', placeholder='model')
                    br
                    input(type='text', name='producer', placeholder='producer')
                    br
                    +button("info", "small", "Add Product")
                    if error
                        span.error &nbsp;#{error}
        .col-md-3.col-sm-6.col-xs-12
            +panel("Product Category", "success")
                form(action='/addCategory', method='POST')
                    input(type='text', name='name', placeholder='category')
                    br
                    +button("success", "small", "Add Category")
                    if error
                        span.error &nbsp;#{error}

    .row
        .col-md-5.col-sm-6.col-xs-12
            +panel("Add Purcahse", "primary")
                form(action='/addpurchase', method='POST')
                    p Select a customer by ID: &nbsp
                        select
                            for item in customers
                                option(selected="true") #{item._node.properties.uuid}
                    p Enter transaction data:
                    input(type='number', name='price', placeholder='price')
                    br
                    input(type='number', name='discountRate', placeholder='Discount Rate')
                    br
                    input(type='date', name='date', placeholder='Date')
                    br
                    input(type='text', name='currency', placeholder='Currency')
                    br
                    +button("primary", "mini", "Add Purcahse")
                    if error
                        span.error &nbsp;#{error}
        .col-md-4.col-sm-6.col-xs-12
            +panel("Connect Category to a Product", "info")
                form(action='/cotegorytoproduct ', method='POST')
                    p Select a product: &nbsp;
                        select(id="product", name="product")
                            for item in products
                                option(selected="true") #{item._node.properties.name}
                    p Select a category: &nbsp;
                        select(id="category", name="category")
                            for item in categories
                                option(selected="true") #{item._node.properties.name}
                    p
                        +button("info", "mini", "Connect Category")
                        if error
                            span.error &nbsp;#{error}


